#mainImage {
  max-width: 300px;
  max-height: 400px;
}
#siteDiv {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  background-color: #c89900;
  padding: 10px;
}
#movieInfo {
  flex-grow: 1;
  padding: 15px;
}
.stars span {
  color: #b4b4b4;
  user-select: none;
  cursor: pointer;
  font-size: 15px;
}
.stars .filled {
  color: black;
}
